<div>
    <h1> There is an error in the data input.</h1>
    <h3>Pleace correct it and continue.</h3>

    <ul>
        @foreach (var error in Model)
        {
            <li>
                @error
            </li>
        }
    </ul>
</div>

